<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="MonoAndroid43" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="MonoAndroid43" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.Community.Plugin.Sqlite" version="3.0.13" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.14" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.14" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.HotTuna.Plugin.DownloadCache" version="3.0.14" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.0.14" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.0.14" targetFramework="MonoAndroid43" />
  <package id="MvvmCross.PortableSupport" version="3.0.14" targetFramework="MonoAndroid43" />
</packages>